[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
dateparser = "==0.7.0"
mpl-finance = "==0.10.0"
matplotlib = "==3.0.0"
python-binance = "==0.7.0"
"flake8" = "==3.6.0"
jedi = "==0.13.1"

[requires]
python_version = "3.6"
